.App {
  height: 100vh;
  width: 100vw;
}

.channel-wrap {
  display: flex;
  height: 100%;
}

.channel-list {
  float: left;
}

.channel-chat {
  width: 76%;
}

/* .sendbird-channel-header .sendbird-channel-header__right-icon {
  display: none;
}
sendbird-button sendbird-button--primary sendbird-button--big {
  display: none;
} */

.add-channel-container {
  display: flex;
  flex-direction: column;
}

.login-page {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: auto;
  margin-top: 15vh;
  /* align-items: center; */
  justify-content: center;
}

.login-page > h1 {
  text-align: center;
}

.login-page > a {
  width: 50%;

  margin: 20px auto;
  /* margin: 20px; */
}

.form-login {
  display: flex;
  flex-direction: column;
}

.form-login > button {
  width: 50%;

  margin: 20px auto;
}
.home-page {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: auto;
  margin-top: 15vh;
  /* align-items: center; */
  justify-content: center;
}

.home-page > h1 {
  text-align: center;
}

.home-page > div {
  display: flex;
  flex-direction: column;
}

.home-page > div > a {
  width: 50%;

  margin: 10px auto;
}
