.App {
  height: 100vh;
  width: 100vw;
}

.channel-wrap {
  display: flex;
  height: 100%;
}

.channel-list {
  float: left;
}

.channel-chat {
  width: 76%;
}

/* .sendbird-channel-header .sendbird-channel-header__right-icon {
  display: none;
}
sendbird-button sendbird-button--primary sendbird-button--big {
  display: none;
} */

.sendbird-image-renderer__image {
  width: 100%;
  min-width: 32px;
  max-width: 400px;
  height: 32px;
  position: absolute;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-image: url(https://sendbird.com/main/img/profiles/profile_05_512px.png);
}
