.App {
  height: 100vh;
  width: 100vw;
}

.channel-wrap {
  display: flex;
  height: 100%;
}

.channel-list {
  float: left;
}

.channel-chat {
  width: 76%;
}

/* .sendbird-channel-header .sendbird-channel-header__right-icon {
  display: none;
}
sendbird-button sendbird-button--primary sendbird-button--big {
  display: none;
} */
